<head><title>control for old Triumph Adler electronic typewriter</title></head>
<body>

<h2>Type text</h2>

<form action="/type">
<form action = "/type">
Text to type:<br><textarea name="text" rows="30" cols="70"></textarea>
</br>
<input type="checkbox" name="bold" value="true">Bold  
<input type="checkbox" name="underline" value="true">Underline  </br>
<input type="checkbox" name="wrap" value="true" checked="checked">wrap text to
<input type="number" name="width" min="0" max="140"> cols </br>

<input type="submit" value="Submit">
</form> 



</body>
</html>
